@model LivrosModel
@{
    ViewData["Title"] = "Confirmação - Deletar Livro";
}

<div class="text-center">
    <h3>Realmente deseja apagar o cadastro do Livro: @Model.Titulo?</h3>
    <br />
    <a class="btn btn-secondary" role="button" asp-controller="Livros" asp-action="Index">Cancelar</a>
    <a class="btn btn-danger" role="button" asp-controller="Livros" asp-action="Delete" asp-route-id="@Model.Id_livro">Confirmar exclusão</a>
</div>

