@{
    ViewData["Title"] = "Página Inicial";
}

<style>

    img {
        width: 100%; /* Ajuste a largura da imagem */
        max-width: 1320px; /* Ajuste a largura máxima da imagem */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <br>
    <p style="font-size:20px">Gerencie sua Biblioteca! Adicione, Altere, Delete e Cadastre Empréstimos e Livros.</p>
    <br>
</div>

<div class="text-center">
    <img src="https://www.comunidadbaratz.com/wp-content/uploads/Las-bibliotecas-escolares-deben-potenciar-su-parte-digital-para-ofrecer-contenidos-en-cualquier-momento-y-lugar.jpg" class="rounded" />
</div>

<div class="text-center">
    <br>
    <button type="button" class="btn btn-success btn-lg btn-block">Acessar Sistema</button>
</div>