@{
    ViewData["Title"] = "Sobre o Projeto";
}
<html lang="pt-BR">

<style>
    h1{
        color: dodgerblue;
    }

    h3{
        color: dodgerblue;
    }

    img{
        background-image: url('sua_imagem.jpg');
        /* Centraliza a imagem */
        background-position: center top;
        /* A imagem não se repete */
        background-repeat: no-repeat;
        /* A imagem cobre todo o topo */
        background-size: 100% auto;
    }
</style>

<head>
    <header>
        <img src="https://www.ung.br/sites/ung.br/files/fields/imagemTopo/noticias/2019/03/books-1281581_1920.jpg">
    </header>

    <h1>Bem-vindos ao Software de Gerenciamento de Acervo Literário para Escola Pública de Santo André, SP!</h1>
</head>
<body>

    <main>
        <section>
            
            <p class="corpo">É com grande satisfação que apresentamos o resultado do nosso trabalho em equipe: o software de gerenciamento de acervo literário para biblioteca de escola pública em Santo André, SP. Como estudantes de engenharia da computação, estamos entusiasmados por compartilhar este projeto que representa meses de dedicação e esforço colaborativo.</p>
            <h3 class="paragrafo"> Nossa Missão:</h3>
            <p class="corpo">Nosso principal objetivo foi desenvolver uma solução inovadora que simplificasse o gerenciamento do acervo literário, ao mesmo tempo que incentivasse o interesse pela leitura entre os alunos. Acreditamos que a tecnologia pode desempenhar um papel fundamental na promoção da educação e do conhecimento, e este software é um reflexo desse compromisso.</p>
            <h3 class="paragrafo"> O que oferecemos:</h3>
            <p class="corpo">
                Uma interface intuitiva e amigável, projetada para tornar a busca por livros uma experiência simples e agradável.
                Recursos avançados de busca, permitindo que os usuários encontrem facilmente os livros desejados.
                Recomendações de leitura personalizadas, para ajudar os alunos a descobrirem novas obras que se encaixem em seus interesses.
                Um sistema de avaliação e resenha de livros, promovendo a interação e o engajamento na comunidade escolar.
            </p>
            <h3 class="paragrafo">Nosso Compromisso:</h3>
            <p class="corpo">Estamos comprometidos em fornecer uma solução de alta qualidade que atenda às necessidades específicas da escola pública de Santo André. Nosso software foi desenvolvido com base nas melhores práticas de engenharia de software e design de interface, garantindo segurança, eficiência e usabilidade.</p>
            <h3 class="paragrafo"> Junte-se a nós:</h3>
            <p class="corpo">Se você faz parte de uma escola pública em Santo André e está em busca de uma ferramenta moderna e eficaz para gerenciar seu acervo literário, entre em contato conosco hoje mesmo! Estamos ansiosos para ajudá-lo a promover a leitura e o aprendizado em sua instituição.</p>
            <h3 class="paragrafo"> Agradecimentos:</h3>
            <p class="corpo">
                Por fim, gostaríamos de expressar nossa gratidão a todos os envolvidos neste projeto - nossa equipe, colaboradores e apoiadores. Sem o trabalho árduo e a dedicação de cada um de vocês, este software não seria possível.
                Obrigado por visitar nosso site e por compartilhar nosso entusiasmo por esta iniciativa. Estamos ansiosos para fazer parte da sua jornada de educação e descoberta!
            </p>
            <p class="nome">DRP01 PJI110 SALA 06 Grupo 016</p>
            <p class="nome">Equipe de alunos de Engenharia da Computação.</p>
        </section>
    </main>

    <footer>
        <p class="footer">Projeto Integrador Computação I /2024</p>
    </footer>

</body>
</html>